<img src="../the-cord-project.png" alt="header">

  <% for (let i = 0; i < recentPosts.length; i++) { %>
    <a class="link" href="/posts/<%= recentPosts[i].id %>">
      <section class="columns">

        <% if (i % 2 === 0) { %>
          <div class="column is-6">
            <img src="<%= recentPosts[i].image %>" alt="<%= recentPosts[i].title %>" />
          </div>

          <div class="show-post column is-6">
            <h2 class="title is-2"><%= recentPosts[i].title %></h2>
            <h3 class="subtitle is-4"><%= recentPosts[i].subtitle %></h3>
            <p class="show-post"> <%= recentPosts[i].content %> </p>
          </div>
        <% } else { %>
          <div class="column is-6">
            <h2 class="title is-2"><%= recentPosts[i].title %></h2>
            <h3 class="subtitle is-4"><%= recentPosts[i].subtitle %></h3>
            <p class="show-post"> <%= recentPosts[i].content %> </p>
          </div>

          <div class="show-post column is-6">
            <img src="<%= recentPosts[i].image %>" alt="<%= recentPosts[i].title %>" />
          </div>
        <% } %>

        </section>
      </a>
  <% } %>

  <div class='carousel carousel-animated carousel-animate-slide' data-autoplay="true">
  <div class='carousel-container'>
    <div class='carousel-item has-background is-active'>
      <a href="https://www.zinodavidoff.com/zest-for-life/love-ocean-you-can-help-us-do-more">
      <img class="is-background" src="/ocean-waves.jpg" alt="" width="640" height="310" />
      <div class="title">Let's keep our oceans plastic free</div>
      </a>
    </div>
    <div class='carousel-item has-background'>
      <a href="https://www.thereformation.com/categories/new">
      <img class="is-background"
       src="https://www.thereformation.com/media/W1siZiIsIjIwMTgvMDcvMDYvMTYvMjIvMDQvYmYzOWJiZDAtYmUxNy00MTQ5LTlhOTgtMTdkMzM0ODY3NWI4L1JlZm9ybWF0aW9uLUJyaWRhbC1TYWxvbi5qcGciXV0/Reformation-Bridal-Salon.jpg?sha=bc9fb4c012218aa1" alt="" width="640" height="310" />
      <div class="title">Check our favourite sustainable brands <a href="https://www.thereformation.com/categories/new" target="_blank"></a></div>
    </div>
    </a>
    <a href="https://www.vogue.co.uk/article/farfetch-new-look-yasmin-sewell-interview">
    <div class='carousel-item has-background'>
      <img class="is-background" src="/hands.jpg" alt="hands" width="640" height="310" />
      <div class="title">Community Matters</div>
    </a>
    </div>
  </div>
</div>
