
  <div class="columns is-multiline">
<% posts.forEach(post => { %>
  <a href="/posts/<%= post.id %>">
  <div class="column is-6">
  <img src=<%= post.image %> alt=<%= post.title %> />
  <h2 class="title is-2"><%= post.title %></h2>
  <h3 class="subtitle is-2"><%= post.subtitle %></h3>
  </div>
  </a>
<% }) %>
</div>
