
<div class="columns">
  <div class="column is-12">

    <img class="hero-image" src="<%= post.image %>" alt="">
  </div>
</div>


<hr>

<div class="columns is-multiline">

  <div class="column is-12">

    <h1 class="title is-1"><%= post.title %></h1>
    <h2 class="subtitle is-1"><%= post.subtitle %></h2>
    <h2 class="subtitle is-6">Author: <%= post.author.username %></h2>
<hr>
  </div>

  <hr>
  <div class="column is-12">
    <div class="column is-12">
      <p><%= post.content %></p>
    </div>
  </div>



  <div class="column is-one-half">

    <hr>

    <p>❤️ <%= post.likes %></p>
    <p>Posted: <%= post.createdAt %></p>
  </div>
</div>


    <%- include('../comments/index', {post}) %>

    <% if (locals.isLoggedIn) { %>
            <hr/>
    <div class="section">
      <div class="level">
        <div class="level-left">
          <a class="button is-warning" href="/posts/<%= post.id %>/edit">Edit</a>
        </div>
        <div class="level-right">
          <form class="" action="/posts/<%= post.id %>" method="POST">
            <button class="button is-danger">DELETE</button>
            <input type="hidden" name="_method" value="DELETE">
          </form>
        </div>
      </div>
    </div>
  <% } %>
